<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Colorlib Templates">
    <meta name="author" content="Colorlib">
    <meta name="keywords" content="Colorlib Templates">

    <!-- Title Page-->
    <title>
        <%= pageTitle %>
    </title>

    <!-- Icons font CSS-->
    <link href="vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Vendor CSS-->
    <link href="vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="css/signup.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="/css/side_nav_login.css">
    <link rel="stylesheet" href="/css/footer_login.css">
</head>

<body>
    <% if(error) {%>
        <div id="Error">
            <h5>
                <%= error.msg %>

            </h5>
        </div>
        <% } %>
            <div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
                <%-include('include/side_nav.ejs')%>
                    <div class="wrapper wrapper--w780">
                        <div class="card card-3">
                            <div class="card-heading"></div>
                            <div class="card-body">
                                <h2 class="title">Registration Info</h2>
                                <form action="/registerSong" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" value="<%= csrfToken %>" name="_csrf">
                                    <div class="input-group">
                                        <% if(error.param === 'Title'){ %>
                                            <input class="input--style-error" type="text" placeholder="Title" name="Title">
                                            <% } else {%>
                                                <input class="input--style-3" type="text" placeholder="Title" name="Title">
                                                <% } %>
                                    </div>
                                    <div class="input-group">
                                        <label for="image" style="color:white"> Cover pic</label>
                                        <input class="input--style-3" type="file" placeholder="image" name="image">
                                    </div>
                                    <div class="input-group">
                                        <% if(error.param === 'Singer'){ %>
                                            <input class="input--style-error" type="text" placeholder="Singer" name="Singer">
                                            <% } else {%>
                                                <input class="input--style-3" type="text" placeholder="Singer" name="Singer">
                                                <% } %>
                                    </div>
                                    <div class="input-group">
                                        <% if(error.param === 'Duration'){ %>
                                            <input class="input--style-error" type="text" placeholder="Duration" name="Duration">
                                            <% } else {%>
                                                <input class="input--style-3" type="text" placeholder="Duration" name="Duration">
                                                <% } %>
                                    </div>
                                    <div class="input-group">
                                        <% if(error.param === 'Url'){ %>
                                            <input class="input--style-error" type="text" placeholder="Url" name="Url">
                                            <% } else {%>
                                                <input class="input--style-3" type="text" placeholder="Url" name="Url">
                                                <% } %>
                                    </div>
                                    <div class="input-group">
                                        <div class="rs-select2 js-select-simple select--no-search">
                                            <% if(error.param === 'genre') { %>
                                                <select name="genre" style="color:red">
                                            <% } else { %>
                                                <select name="genre">
                                                <% } %>
                                                    <option selected="selected">Genre</option>
                                                   <option>Music + Talk</option>
                                                    <option>Ambient</option>
                                                        <option>TV & Movies</option>
                                                            <option>Song Writers</option>
                                                                <option>Anime</option>
                                                                    <option>Country</option>
                                                                        <option>Travel</option>
                                                                            <option>Punk</option>
                                                                                <option>Funk</option>
                                                                                    <option>Blues</option>
                                                                                        <option>Metal</option>
                                                                                            <option>Latin</option>
                                                                                                <option>Classical</option>
                                                                                                    <option>Soul</option>
                                                                                                        <option>Caribbean</option>
                                                                                                            <option>Gaming</option>
                                                                                                                <option>Stop Asian Hate</option>
                                                                                                                    <option>Jazz</option>
                                                                                                                        <option>Date Night</option>
                                                                                                                            <option>Summer</option>
                                                                                                                                <option>Focus</option>
                                                                                                                                    <option>Rock</option>
                                                                                                                                        <option>TasteMakers</option>
                                                                                                                                            <option>R&B</option>
                                                                                                                                                <option>At Home</option>
                                                                                                                                                    <option>Kid & Family</option>
                                                                                                                                                        <option>Sleep</option>
                                                                                                                                                            <option>Folk & Acoustic</option>
                                                                                                                                                                <option>Workout</option>
                                                                                                                                                                    <option>Higher Ground</option>
                                                                                                                                                                        <option>Wellness</option>
                                                                                                                                                                            <option>Mood</option>
                                                                                                                                                                                <option>Chill</option>
                                                                                                                                                                                    <option>Student</option>
                                                                                                                                                                                        <option>Dance/Electronic</option>
                                                                                                                                                                                            <option>Instrumental</option>
                                                                                                                                                                                                <option>Party</option>
                                                                                                                                                                                                    <option>Hip-Hop</option>
            <option>Netflix</option>
            <option>K-Pop</option>
            <option>Bolywood</option>
            <option>Happy Holiday</option>
            <option>Romance</option>
            <option>Indian Classical</option>
            <option>Devotional</option>
            <option>Marathi</option>
            <option>Fresh Finds</option>
            <option>Radar</option>
            <option>Telugu</option>
            <option>Pahadi</option>
            <option>Spanish</option>
            <option>Punjabi</option>
            <option>Haryanvi</option>
            <option>Rajasthani</option>
            <option>Bhojpuri</option>
            <option>Podcasts</option>
            <option>English</option>
            <option>North Eastern</option>
            <option>New Releases</option>
            <option>Concerts</option>
                                                    </select>
                                                <div class="select-dropdown"></div>
                                        </div>
                                    </div>
                                    <div class="p-t-10">
                                        <button class="btn btn--pill btn--green" type="submit">Register</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
            </div>

            <!-- Jquery JS-->
            <script src="vendor/jquery/jquery.min.js"></script>
            <!-- Vendor JS-->
            <script src="vendor/select2/select2.min.js"></script>
            <script src="vendor/datepicker/moment.min.js"></script>
            <script src="vendor/datepicker/daterangepicker.js"></script>

            <!-- Main JS-->
            <script src="js/global.js"></script>
            <%- include('include/footer.ejs')%>
</body>
<!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
<!-- end document-->